name: Actionlint

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
    paths:
      - '.github/workflows/**/*.yml'

jobs:
  actionlint:
    name: Actionlint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1
        with:
          version: 2025.11.11
      - name: Run actionlint
        run: mise exec -- actionlint
