name: Shellcheck

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
    paths:
      - 'scripts/**/*.sh'
      - '.github/workflows/shellcheck.yml'

jobs:
  shellcheck:
    name: Shellcheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1
        with:
          version: 2025.11.11
      - name: Run shellcheck
        run: mise exec -- shellcheck scripts/*.sh
